<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tofit.mvc.model.dao.FeedDao">

	<!-- 피드 작성 -->
	<insert id="insertFeedOne" parameterType="Feed" useGeneratedKeys="true" keyProperty="feedId">
		INSERT INTO FEED(user_id, content)
		VALUES(#{userId}, #{content})
	</insert>
	
	<!-- 전체 피드 조회 -->
	<select id="selectFeedList" resultType="Feed">
		SELECT * FROM FEED
	</select>
	
	<!-- 사용자의 모든 피드 조회 -->
	<select id="selectFeedListByUserId" parameterType="String" resultType="Feed">
		SELECT * FROM FEED WHERE user_id = #{userId}
	</select>
	
	<!-- 피드 상세 조회 -->
	<select id="selectFeedOne" parameterType="int" resultType="Feed">
		SELECT * FROM FEED WHERE feed_id = #{feedId}
	</select>
	
	<!-- 피드 수정 -->
	<update id="updateFeedOne" parameterType="Feed">
		UPDATE FEED SET content = #{content} WHERE feed_id = #{feedId}
	</update>
	
	<!-- 피드 삭제 -->
	<delete id="deleteFeedOne" parameterType="int">
		DELETE FROM FEED WHERE feed_id = #{feedId}
	</delete>
	
	
</mapper>