<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tofit.mvc.model.dao.SpecialistDao">

    <!-- 전문가 조건(이름) 검색 기능 -->
    <select id="selectByCondition" parameterType="SearchCondition" resultType="Specialist">
        SELECT DISTINCT channel_name AS specialistId, goal, hashtag, profile_img
        FROM SPECIALIST_INFO_VIEW
        <if test="keyWord != ''">
            WHERE CHANNEL_NAME LIKE concat('%', #{keyWord}, '%')
        </if>
    </select>
    
    <!-- 전문가가 올린 영상 정보 조회 -->
    <select id="selectSpecialistVideo" resultType="SpecialistInfoView">
       SELECT *
      FROM specialist_info_view
      ORDER BY channel_name, view_cnt desc;
    </select>
    
    <!-- 전문가 상세 조회 -->
    <select id="selectBySpecialistId" parameterType="String" resultType="SpecialistInfoView">
        SELECT *
        FROM SPECIALIST_INFO_VIEW
        WHERE CHANNEL_NAME = #{specialistId}
    </select>
    
</mapper>