<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tofit.mvc.model.dao.VideoDao">

   <!-- 영상 조건 검색 -->
   <select id="selectByCondition" parameterType="SearchCondition" resultType="SpecialistInfoView">
      SELECT *
      FROM SPECIALIST_INFO_VIEW
      <if test="keyWord != null">      
         WHERE CHANNEL_NAME LIKE concat('%', #{keyWord}, '%')
         OR TITLE LIKE concat('%', #{keyWord}, '%')
      </if>
   </select>
   
   <!-- 유저와 같은 연령대, 성별에 따른 추천 영상 목록 -->
   <select id="selectRecomVideo" parameterType="String" resultType="Video">
       WITH UserAgeGroup AS (
        SELECT 
            u.user_id,
            u.gender,
            FLOOR(DATEDIFF(CURDATE(), u.birth) / 365.25 / 10) * 10 AS age_group
        FROM 
            tofit.User u
        WHERE 
            u.user_id = #{userId}
    ), 
    SameAgeGenderUsers AS (
        SELECT 
            u.user_id
        FROM 
            tofit.User u
        JOIN 
            UserAgeGroup uag
        ON 
            FLOOR(DATEDIFF(CURDATE(), u.birth) / 365.25 / 10) * 10 = uag.age_group
            AND u.gender = uag.gender
        WHERE 
            u.user_id != #{userId}
    )
    SELECT DISTINCT
        v.video_id,
        v.channel_name,
        v.title,
        v.thumbnail,
        v.url,
        v.cate_code,
        v.view_cnt
    FROM 
        tofit.Video v
    JOIN 
        tofit.Favorites f
    ON 
        v.video_id = f.video_id
    JOIN 
        SameAgeGenderUsers sagu
    ON 
        f.user_id = sagu.user_id
      ORDER BY v.view_cnt DESC;
   </select>
   
   <!-- 영상 상세 조회 -->
   <select id="selectVideo" parameterType="String" resultType="Video">
      SELECT *
      FROM VIDEO
      WHERE video_id = #{videoId};
   </select>
   
   <!-- 영상 조회수 증가 -->
   <update id="updateViewCnt" parameterType="String">
      UPDATE VIDEO
      SET view_cnt = view_cnt+1
      WHERE video_id = #{videoId};
   </update>
   
</mapper>